/* CSS Element Selectors */

body {
    background-color: rgb(53, 109, 134);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 50px;
}  

h1 {
    font-size: 20px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 16px;
    text-align: center;
}

/* CSS id Selectors */

#hrtag {
    color: yellow;
    text-transform: uppercase;
}

/* CSS class Selectors */

.rules {
    color: blue;
    padding: 50px; 
}

.rules {
    color: blue;
    padding: 50px; 
}

.codepics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.frankietab {
    margin-left: auto;
    margin-right: auto;
}

.frankievid {
    display: block;
    margin: 0 auto;
}